<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
  <!-- BUG: Needs at least two items to work -->
  <urls>
    <url><urlString>http://www.chinhdo.com</urlString><checkString>greatest hits xxx</checkString></url>
        <url><urlString>http://www.hoinguoivietrichmondva.org</urlString><checkString>Chinh</checkString></url>
        <url><urlString>https://www.anthem.com/health-insurance/home/overview</urlString><checkString>Anthem</checkString></url>
        <url><urlString>https://www.anthem.com/health-insurance/login/registration</urlString><checkString>Anthem</checkString></url>
    	<url><urlString>https://www.unicare.com/health-insurance/home/overview</urlString><checkString>Unicare</checkString></url>
        <url><urlString>https://www.bcbsga.com/health-insurance/home/overview</urlString><checkString>bcbsga</checkString></url>
        <url><urlString>https://ghealthcare.anthem.com/cp/web/gcaredashboard/About</urlString><checkString>Google</checkString></url>
        <url><urlString>http://www.LovelyNails.us</urlString><checkString>Lovely Nails</checkString></url>
        <url><urlString>http://www.KimbertonDental.com</urlString><checkString>0525</checkString></url>
        <url><urlString>http://www.nhnlawfirm.com</urlString><checkString>The Nguyen Law Firm</checkString></url>
  </urls>
</config>
